body {
  margin: 0;
  font-family: source sans pro, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
  box-sizing: border-box;
}

.container {
  padding: 0 10%;
}

.header {
  padding: 20px 10%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin-right: 2rem;
    font-family: titillium web,sans-serif;;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #5cb85c;
    text-decoration: none;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__icon {
    font-style: normal;
  }
}

.auth {
  text-align: center;

  &__title {
    margin: 0 auto 1.5rem;
  }

  &__link {
    display: block;
    margin: 0 0 1rem;
    color: #5cb85c;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #3d8b3d;
      text-decoration: underline;
    }
  }

  &__form {
    width: 360px;
    margin: 0 auto;
  }
}

.form {
  
  &__field {
    margin-bottom: 1rem;
    padding: 0;
    border: none;
    
    &--submit {
      text-align: right;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 1.5rem;
    font: inherit;
    font-size: 1.25rem;
    color: #55595c;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;

    &:focus {
      border-color: #5cb85c;
      outline: none;
    }
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 0.3rem;

    &:hover,
    &:focus {
      background-color: #3d8b3d;
      border-color: #3d8b3d;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: rgba(0, 0, 0, 0.1);
      pointer-events: none;
    }
  }
}

.errors {
  width: 75%;
  margin: 0 auto 1rem;
  padding: 0;
  list-style: none;
  color: darkred;
  text-align: left;
}

.user-pic {
  display: inline-flex;
  height: 26px;
  width: 26px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 50%;
}

.home-page {
  &__banner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    color: #fff;
    background-color: #5cb85c;

    & > h1 {
      margin: 0 0 0.5rem;
    }

    & > p {
      margin: 0;
    }
  }

  & .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "content content sidebar";
  }

  &__content {
    grid-area: content;
  }

  &__sidebar {
    grid-area: sidebar;
    margin: 0 15px;
  }
}

.articles {
  margin: 0;
  padding: 0;
  list-style: none;
}

.article {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &__preview {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     grid-template-areas:
             "title title"
             "text text"
             "more tags";
     
     & > .tags {
       grid-area: tags;
       background-color: transparent !important;
       padding: 0 !important;

       & > .tags__item {
         padding-right: 0.6em;
         padding-left: 0.6em;
         font-size: 0.8rem;
         color: #aaa;
         border: 1px solid #ddd;
         border-radius: 10rem;
       }
     }
   }

  &__title {
    grid-area: title;
    margin: 1rem 0 0;
  }

  &__description {
    grid-area: text;
    margin: 0 0 0.5rem;
  }

  &__more {
    grid-area: more;
    align-self: start;
    width: 85px;
    display: block;
    color: #bbb;
    text-decoration: none;
    border-bottom: 1px dotted transparent;

    &:hover,
    &:focus {
      color: #5cb85c;
      border-color: #5cb85c;
    }
  }
}

.article-meta {
  display: flex;

  &__ava {
    display: block;
    margin-right: 8px;

    & > img {
      height: 32px;
      width: 32px;
      border-radius: 30px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    margin: 0;
  }

  &__author {
    display: block;
    color: #5cb85c;
    text-decoration: none;

    &:hover {
      color: #3d8b3d;
      text-decoration: underline;
    }
  }

  &__date {
    display: block;
    color: #bbb;
    font-size: 0.8rem;
  }
}

.article-tools {
   &__edit,
   &__delete {
     padding: 8px;
     font: inherit;
     font-size: 0.85rem;
     font-weight: 400;
     line-height: 1.25;
     background-color: transparent;
     border: 1px solid;
     border-radius: 0.3rem;
     cursor: pointer;
   }

  &__edit {
    margin-right: 8px;
    color: #bbb;
    text-decoration: none;
    border-color: #bbb;

    &:hover,
    &:focus {
      color: #333333;
      background-color: #818a91;
      border-color: #333333;
    }
  }

  &__delete {
    color: #b85c5c;
    border-color: #b85c5c;
    outline: none;

    &:hover,
    &:focus {
      color: #333333;
      background-color: #b85c5c;
      border-color: #333333;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  list-style: none;
  background: #f3f3f3;

  &__item {
    margin-right: 3px;
    margin-bottom: 0.2rem;
  }

  &__link {
    display: block;
    padding-right: 0.6em;
    padding-left: 0.6em;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    background-color: #818a91;
    border: 1px solid #818a91;
    border-radius: 10rem;

    &:hover,
    &:focus {
      background-color: #687077;
      border-color: #687077;
    }
  }
}

.feedToggler {
  padding: 2rem 0 0;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    margin-right: 1rem;
    margin-bottom: -1px;
    padding: 5px 8px;
    color: #aaa;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      color: #687077;
    }

    &.active {
      color: #5cb85c;
      border-color: #5cb85c;
    }
  }
}

.article-page {
  &__banner {
    padding: 2rem 0;
    color: #fff;
    background: #333;
  }
}