body {
  margin: 0;
  padding: 0 10%;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
  box-sizing: border-box;
}

.header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    color: #5cb85c;
    text-decoration: none;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.auth {
  text-align: center;

  &__title {
    margin: 0 auto 1.5rem;
  }

  &__link {
    display: block;
    margin: 0 0 1rem;
    color: #5cb85c;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #3d8b3d;
      text-decoration: underline;
    }
  }

  fieldset {
    margin-bottom: 1rem;
    padding: 0;
    border: none;
  }

  &__input {
    max-width: 360px;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #55595c;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;

    &:focus {
      border-color: #5cb85c;
      outline: none;
    }
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 0.3rem;

    &:hover,
    &:focus {
      background-color: #3d8b3d;
      border-color: #3d8b3d;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: rgba(0, 0, 0, 0.1);
      pointer-events: none;
    }
  }
}

.errors {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  color: darkred;
  text-align: left;
}